h1.blackcolor{
    color:cornsilk;
    text-align: center;
    background-color: black;
}

h2.n1{
    border-color: aqua;
    color:cornsilk;
    text-align: center;
    background-color: blue; 
}

h2.n2{
    color:cornsilk;
    text-align: center;
    background-color: chartreuse; 
}

h1.rink{
    color:cornsilk;
    text-align: center;
    background-color: green; 
}







